/* Define CSS variables for light and dark themes */
:root {
  --background-color-light: #ffffff;
  --text-color-light: #000000;
  --background-color-dark: #000000;
  --text-color-dark: #ffffff;
}

body.light-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}
body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}